@font-face {
    font-family: 'brush-script';
    src:  url('brush-script-bt.woff') format('woff');
  }


.wedding_background {
    background-image: url("wed-background.png");
    width: 100%;
    height: 760px;
    max-width: 1400px;
    margin: auto;
    padding: 3vw;
}

.all_blocks {
    max-width: 1200px;
    margin: 0 5vw;
    
}

.wedding_block {
    background-color: floralwhite;
    text-align: center;
    width: 500px;
    height: 595px;
    padding: 10px;
    float: left;
}

.text {
    margin: 0;
    font-family: brush-script;
}

.map_block {
    height: 300px;
    width: 535px;
    float: right;
    margin-left: 1vw;
    
}

#map {
    height: 300px;
    width: 535px;
}
  
.video_block {
    float: right;
    width: 535px;
    height: 300px;
    margin-bottom: 1vw;
    margin-left: 1vw;
}

@media (max-width: 700px) {
    .wedding_block {
        width: calc(100% - 48px);
        margin:10px auto;
        padding: unset;
    }
    .video_block {
        width: 100%;
        margin:10px auto;
        height: 100%;
    }
    .map_block {
        width: 100%;
    }
    #map {
        width: 100%;
    }
    .all_blocks { 
        padding: 4vw;
    }
    
}

@media (min-width: 700px) and (max-width: 1200px) {
    .wedding_block {
        float:unset;
        margin:30px auto;
        display: block;
    }
    .video_block {
        margin: 0 auto 30px auto;
        float:unset;
        display: block;
    }
    .map_block {
        margin: auto;
        float:unset;
        display: block;
    }
    .all_blocks { 
        padding: 1vw;
    }
}

@media (max-width: 1200px) {
    .wedding_background {
        height: 1350px;
        padding: unset;
    }
}